# .env.example
# Service Account environment variables for backend / admin operations
FIREBASE_SERVICE_ACCOUNT_TYPE=
FIREBASE_SERVICE_ACCOUNT_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY_ID=
FIREBASE_SERVICE_ACCOUNT_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT_CLIENT_EMAIL=
FIREBASE_SERVICE_ACCOUNT_CLIENT_ID=
